*, body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container-wrapper {
    width: 100%;
    height: 60px;
    background-color: skyblue;
    display: flex;
}

.wrapper {
    width: 100%;
    height: 50px;
    background-color: #031e38;
    display: flex;
    font-size: 20px;
    padding: 5px;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 27px;
    padding: 10px;
}

.firstname {
    color: #ffffff;
    font-weight: 600;
}

.lastname {
    color: skyblue;
    font-weight: 600;
    padding-left: 3px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation > li {
    list-style-type: none;
    padding: 20px;
}

.navigation > li > a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.active {
    background-color: skyblue;
    padding: 15px;
}

.actived {
    color: white !important;
}

.navigation > li > a:hover {
    color: skyblue;
    transition: all .4s ease-in-out;
}

.home-button {
    text-decoration: none;
}

/*----------cryo----------*/
#bg-deskripsi-cryo{
    background-color: #9fd6e3;
}
#daftar-isi-cryo{
    border: 2px solid #9fd6e3;
}
#detail-cryo{
    border: 2px solid #9fd6e3;
    background-color: #9fd6e3;
}
#character-art-cryo{
    border: 2px solid #9fd6e3;
}

/*----------pyro----------*/
#bg-deskripsi-pyro{
    background-color: #ea7938;
}
#daftar-isi-pyro{
    border: 2px solid #ea7938;
}
#detail-pyro{
    border: 2px solid #ea7938;
    background-color: #ea7938;
}
#character-art-pyro{
    border: 2px solid #ea7938;
}


/*----------hydro----------*/
#bg-deskripsi-hydro{
    background-color: #5fc1f1;
}
#daftar-isi-hydro{
    border: 2px solid #5fc1f1;
}
#detail-hydro{
    border: 2px solid #5fc1f1;
    background-color: #5fc1f1;
}
#character-art-hydro{
    border: 2px solid #5fc1f1;
}

/*----------anemo----------*/
#bg-deskripsi-anemo{
    background-color: #71c2a7;
}
#daftar-isi-anemo{
    border: 2px solid #71c2a7;
}
#detail-anemo{
    border: 2px solid #71c2a7;
    background-color: #71c2a7;
}
#character-art-anemo{
    border: 2px solid #71c2a7;
}

/*----------electro----------*/
#bg-deskripsi-electro{
    background-color: #b38cc1;
}
#daftar-isi-electro{
    border: 2px solid #b38cc1;
}
#detail-electro{
    border: 2px solid #b38cc1;
    background-color: #b38cc1;
}
#character-art-electro{
    border: 2px solid #b38cc1;
}

/*----------dendro----------*/
#bg-deskripsi-dendro{
    background-color: #9bc926;
}
#daftar-isi-dendro{
    border: 2px solid #9bc926;
}
#detail-dendro{
    border: 2px solid #9bc926;
    background-color: #9bc926;
}
#character-art-dendro{
    border: 2px solid #9bc926;
}


/*----------geo----------*/
#bg-deskripsi-geo{
    background-color: #f2b722;
}
#daftar-isi-geo{
    border: 2px solid #f2b722;
}
#detail-geo{
    border: 2px solid #f2b722;
    background-color: #f2b722;
}
#character-art-geo{
    border: 2px solid #f2b722;
}

.container-content {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-team-comp {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F7FFF7;
    padding-top: 5px;
}

.title {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.title-page {
    width: 100%;
    height: 100%;
    color: #031e38;
    font-size: 35pt;
    margin-left: 5px;
    text-align: center;
}

.penjelasan {
    font-size: smaller;
    margin-bottom: 5px;
}

.penjelasan-bold {
    font-size: smaller;
    margin-bottom: 5px;
    font-weight: bold;
}

.penjelasan {
    font-size: smaller;
    margin-bottom: 5px;
}

.penjelasan-bold {
    font-size: smaller;
    margin-bottom: 5px;
    font-weight: bold;
}

.garis {
    border-width: 1px;
    color: #031e38;
    margin-left: 20px;
    margin-right: 20px;
}

.content-team-comp {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-bold {
    font-weight: bold;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

.team-comp {
    width: min-content;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.75s;
}

.team-comp:hover {
    background-color: #031e38;
    box-shadow: 0 7.5px 15px 0 rgba(0, 0, 0, 0.5);
}

.team-comp > a {
    text-decoration: none;
    color: black;
    transition: 0.75s;
}

.team-comp > a:hover {
    color: white;
}

.judul-team-comp {
    width: 100%;
    height: 100%;
    margin: auto;
}

.judul-team-comp > h2 {
    text-align: center;
    margin-bottom: 5px;
}

.kotak-karakter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.karakter {
    width: 25%;
    height: 100%;
}

.gambar-karakter {
    width: 100%;
    height: 100%;
}

.gambar-karakter > img {
    width: 10vw;
    height: 20vh;
    display: block;
    margin: auto;
}

.teks-karakter {
    width: 100%;
    height: 100%;
}

.teks-karakter > p {
    margin: 5px;
    text-align: center;
}

.footer {
    width: 100%;
    height: 100%;
    background-color: #031e38;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-around;
}

.footer > p {
    margin-top: 35px;
    color: #ffffff;
    text-align: center;
}

.footer > p > a {
    color: #ffffff;
    text-decoration: none;
}

.footer > p > a:hover {
    color: skyblue;
    transition: all .4s ease-in-out;
}

.footer-icon-container {
    margin-top: 20px;
}

.footer-icon {
    align-items: center;
    display: grid;
    grid: 50px / 50px 50px 50px;
    grid-gap: 10px;
    padding-bottom: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background-color: #ddd;
}
  
::-webkit-scrollbar-thumb {
    background-color: #CB9173;
}