*, body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container-wrapper {
    width: 100%;
    height: 100%;
    background-color: #031e38;
    display: flex;
    padding-bottom: 60px;
}

.wrapper {
    width: 100%;
    height: 50px;
    background-color: #031e38;
    display: flex;
    font-size: 20px;
    padding: 5px;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 27px;
    padding: 10px;
}

.firstname {
    color: #ffffff;
    font-weight: 600;
}

.lastname {
    color: skyblue;
    font-weight: 600;
    padding-left: 3px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation > li {
    list-style-type: none;
    padding: 20px;
}

.navigation > li > a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.active {
    background-color: skyblue;
    padding: 15px;
}

.actived {
    color: white !important;
}

.navigation > li > a:hover {
    color: skyblue;
    transition: all .4s ease-in-out;
}

.home-button {
    text-decoration: none;
}

.container-content {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-character {
    max-width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F7FFF7;
}

.container-character > hr {
    border-width: 1px;
    color: #031e38;
    margin-left: 20px;
    margin-right: 20px;
}

.container-card {
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid: 156px / 156px 156px 156px 156px 156px 156px 156px; /* 7 card per horizontal */
    grid-column-gap: 29px;
    grid-row-gap: 80px;
    padding-bottom: 20px;
    justify-content: center;
}

.card {
    transition: 0.3s;
    width: 156px;
    height: 206px;
}

.card > img {
    width: 100%;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
}
  
.container {
    padding: 4px 32px;
    background-color: #031e38;
    height: 38px;
    justify-content: center;
}

.container > p {
    color: white;
    text-decoration: none;
    text-align: center;
}

.title-page {
    text-align: center;
    color: #031e38;
    font-size: 40pt;
}

.back-to-top {
    position: fixed;
    right: 5px;
    bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: #031e38;
    opacity: 0;
    border-radius: 50%;
    transition: .2s ease-in-out;
    z-index: 20px;
}
  
  /* Untuk memunculkan tombol */
.back-to-top.show {
    bottom: 20px;
    opacity: 1;
}
  
.back-to-top svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: white;
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.footer {
    width: 100%;
    height: 100%;
    background-color: #031e38;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-around;
}

.footer > p {
    margin-top: 35px;
    color: #ffffff;
    text-align: center;
}

.footer > p > a {
    color: #ffffff;
    text-decoration: none;
}

.footer > p > a:hover {
    color: skyblue;
    transition: all .4s ease-in-out;
}

.footer-icon-container {
    margin-top: 20px;
}

.footer-icon {
    align-items: center;
    display: grid;
    grid: 50px / 50px 50px 50px;
    grid-gap: 10px;
    padding-bottom: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background-color: #ddd;
}
  
::-webkit-scrollbar-thumb {
    background-color: #CB9173;
}

@media only screen and (max-width: 1342px) {
    .container-card {
        grid: 156px / 156px 156px 156px 156px 156px 156px; /* 6 card per horizontal */
    }
}

@media only screen and (max-width: 1154px) {
    .container-card {
        grid: 156px / 156px 156px 156px 156px 156px; /* 5 card per horizontal */
    }
}

@media only screen and (max-width: 974px) {
    .container-card {
        grid: 156px / 156px 156px 156px 156px; /* 4 card per horizontal */
    }
}

@media only screen and (max-width: 786px) {
    .container-card {
        grid: 156px / 156px 156px 156px; /* 3 card per horizontal */
    }
}

@media only screen and (max-width: 602px) {
    .container-card {
        grid: 156px / 156px 156px; /* 2 card per horizontal */
    }
}

@media only screen and (max-width: 419px) {
    .container-card {
        grid: 156px / 156px; /* 1 card per horizontal */
    }
}

/*vertical*/
@media only screen and (max-width: 521px) {
    .container-wrapper {
        padding-bottom: 0;
    }
    .brand {
        justify-content: center;
    }
    .wrapper {
        flex-direction: column;
        position: relative;
        height: 100%;
        justify-content: center;
    }
    .brand {
        font-size: 24px;
    }
    .navigation > li > a {
        font-size: 15px;
    }
    .navigation > li {
        padding: 5px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-icon {
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}